/* CSS Document */

/* just temp, Justin, I added this so the .tip wouldn't show for Forever renewing options */
.hidden {
	display: none;	
}

#it_exchange_normal-sortables #it-exchange-product-title {
    width: 60%;
}


#it_exchange_normal-sortables #it-exchange-base-price input {
    border-right: none;
}

#it_exchange_normal-sortables #it-exchange-recurring-payments {
    float: left;
    width: 20%;
}

#it_exchange_normal-sortables #it-exchange-recurring-payments .it-exchange-recurring-payment-auto-renew {
	font-size: 2em;	
}

#it_exchange_normal-sortables #it-exchange-recurring-payments .auto-renew-on {
	color: green;	
}

#it_exchange_normal-sortables #it-exchange-recurring-payments .auto-renew-off {
	color: black;
}

#it_exchange_normal-sortables #it-exchange-recurring-payment-settings {
	border: 1px solid #D6D6D6;
	border-left: none;
}