.quick-links {
	background: #FFF;
	border: 1px solid #CCC;
	float: left;
	margin: 0 0 1em;
	padding: 1em;
}
.quick-links h4 {
	margin: 0 0 1em 0;
	text-align: center;
}
.quick-links ul {
	margin: 0;
}
.quick-links li {
	list-style: none;
}
